:root
.main-body{
    font-family:Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link{
    text-decoration: none;
}

.logotype {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
color: #4d5ae5; 
text-transform: uppercase;
}


.logo-part{
   color:#2e2f42; 
}



.list{
    list-style: none;
}

.main-address{
font-style: normal;
}


.menu-item :hover{
color: #404bbf;
}


.menu-item :focus{
    color: #404bbf;
    }


.menu-link{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}


.header-link{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}









.main-page-hero{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
/* color: #FFFFFF; */
}


.modal-btn{
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
padding: 16px 32px;
gap: 10px;
}


.small-tittle{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}


.small-tittle-text{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}


.section-tittle{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}


.section-pic{
position: absolute;
width: 360px;
height: 300px;
left: 156px;
top: 1128px;
}


.section-img{
position: absolute;
width: 360px;
height: 300px;
left: 540px;
top: 1128px;
}